# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# OS
.DS_Store

# Data (raw files should not be pushed)
data/raw/*.csv
data/raw/*.zip
data/raw/*.json

~$*.xlsx
# Office temp files
~$*.xlsx
~$*.xls
